.taskListContainer {
  padding: 20px;
  padding-bottom: 100px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: transparent;
  border-radius: var(--radius);
}

.completedSeparator {
  margin-top: 30px; 
}
