.taskCard {
  display: flex;
  align-items: center;
  border: 1px solid #dbdbdb;
  border-radius: 16px;
  padding: 8px 16px;
  cursor: pointer;
  margin-bottom: 8px;
  font-family: "Sometype Mono", monospace;
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 50px;
  box-sizing: border-box;
}

.dragHandle {
  width: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  margin-right: 10px;
}

.dots {
  font-size: 18px;
  color: #888;
}

.text {
  font-size: 16px;
  font-family: "Sometype Mono", monospace;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.completedText {
  text-decoration: line-through;
  color: #888;
}

.button {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background-color: transparent;
}

.completed {
  background-color: green;
  border-color: green;
}

.checkbox {
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.dragging {
  opacity: 0.5;
}

